
/*Begin Rest*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

input, textarea, .spa-x-user-select {
    user-select: text;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 10px;
}

ol, ul {
    list-style: none;
}

/*End Reset*/

body {
    font-size: 16px;
    color: #444;
    background-color: #888;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

#spa {
    position: absolute;
    top: 8px;
    left: 8px;
    bottom: 8px;
    right: 8px;

    min-height: 500px;
    min-width: 500px;
    overflow: hidden;

    background: #fff;
    border-radius: 0 8px 0 8px;
}


